*{
    text-align: center;
}

#snake_box{
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    grid-template-rows: auto auto auto auto auto auto;
    margin: 10px auto;
    width: 612px;
    height: 612px;
    text-align: left;
}

#snake_box > div{
    height: 100px;
    width: 100px;
    border: 1px solid honeydew;
    background-color: #64DD17;
    color:darkgreen;
    text-align: left;
}

#winner{
    font-size: 25px;
}

#alerts{
    color: #64DD17;
}

/* snake backgrounds*/

#box_35{
    background-image: url(resources/snake35.png);
}
#box_19{
    background-image: url(resources/snake19.png);
}
#box_14{
    background-image: url(resources/snake14.png);
}
#box_29{
    background-image: url(resources/snake29.png);
}

/*ladder backgrounds*/

#box_8{
    background-image: url(resources/ladder8.png);
}
#box_2{
    background-image: url(resources/ladder2.png);
}
#box_21{
    background-image: url(resources/ladder21.png);
}
#box_25{
    background-image: url(resources/ladder25.png);
}


.side_box{
    width: 32%;
}

#next_player_text{
    margin-top: 50px;
}

#heading{
    text-align: center;
    font-family: 'Monoton', cursive;
    color:#64DD17 ;
}

#container_box{
    display: flex;
    flex-direction: row;
}

ul{
    margin: 0 5%;
}

li{
    font-size: 20px;
    padding: 20px;
    font-family: 'Roboto', sans-serif;
    margin: 0 10%;
    text-align: justify;
}

#dice{
    width: 130px;
    height: 130px;
    background-color: rgb(228, 238, 181) ;
    border-radius: 7px;
    margin: 70px auto;
}

#dice_button{
    width: 80px;
    padding: 20px;
    background-color: chartreuse;
    margin: auto;
    border-radius: 7px;
}

#dice_number{
    font-size: 50px;
    padding: 35px;
}

#player_coin1{
    background-color: white;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 10px auto;
    text-align: center;
    line-height: 40px;
    font-size: 25px;
    font-family: 'Roboto', sans-serif;
}

#player_coin2{
    background-color: black;
    color: white;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 10px auto;
    text-align: center;
    line-height: 40px;
    font-size: 25px;
    font-family: 'Roboto', sans-serif;
}

/*tooltip*/

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 50%;
  margin-left: -60px;

  /* Fade in tooltip - takes 1 second to go from 0% to 100% opac: */
  opacity: 0;
  transition: opacity 1s;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
} 

/*popuptext*/

/* Popup container - can be anything you want */
.popup {
  position: absolute;
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* The actual popup */
.popup .popuptext {
  visibility: hidden;
  width: 480px;
  height: 465px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -0px;
}

/* Popup arrow 
.popup .popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}
*/

/* Toggle this class - hide and show the popup 
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}
*/

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;} 
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}

/*popupimg*/

#myImg {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

#myImg:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

/* Caption of Modal Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation */
.modal-content, #caption {  
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {-webkit-transform:scale(0)} 
  to {-webkit-transform:scale(1)}
}

@keyframes zoom {
  from {transform:scale(0)} 
  to {transform:scale(1)}
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
}